[url "git@github.com:"]
  insteadOf = https://github.com/

[include]
  path = ~/.config/git/internal-sites

[user]
	email = moritz.schneider1996@gmail.com
	name = MoritzSchneider

[code]
	editor = vim
[core]
	excludesfile = /home/moritz/.gitignore_global
[commit]
